.diagram-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: #fcf8f2;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}


.diagram-title {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
  font-family: 'Comfortaa', cursive;
}

.diagram-mermaid {
  overflow-x: auto;
  /* horizontal scroll for large diagrams */
}