
.kmap-table {
  border-collapse: collapse;
  margin: 20px auto;
}

.kmap-cell {
  border: 1px solid #8f3714;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 28px;
}

.kmap-cell.highlight {
  background-color: #f5e8d8; /* green for SOP 1's */
  color: #421e0e;
}

.kmap-cell.highlight-pos {
  background-color: #f44336; /* red for POS 0's */
  color: rgb(167, 39, 39);
}

.kmap-label-col,
.kmap-label-row {
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px; /* smaller than .kmap-cell */
  font-weight: normal;
  background-color: #391f11; /* light background to separate */
}

